<% content_for :title, "Space Show | New Post" %>


<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
			<div class="container">
			<% if current_user && current_user.admin? %>
			<h4>Welcome Jocelyn, our favorite and only admin!</h4>
			<%= link_to "See Admin Page", all_posts_path %>
			<% else %>
			<h4>Welcome <%= current_user.name %>!</h4>
			<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
		<div class="col-lg-12">
		  <% @posts.each do |post| %>
		  <div class="col-lg-4">
		   <%= link_to(image_tag post.image.url(:small))  %>
		   <p><%= link_to post.title, post_path(post) %></p>
		   <P><%= post.comments.count%> Comments</P>
		   <P><%= post.get_likes.size%>  <span class="glyphicon glyphicon-thumbs-up"></span></P>
		   </div>
		  <% end %>
			
		</div><!-- end of col 12 -->
</div><!-- end of row 2 -->
		<div class="row">
		<div class="col-lg-12">
			<p><%= link_to "Add Post", new_post_path %></p>
		</div>
	</div><!-- wnd of row2 -->
