<% content_for :title, "Space Show | New Post" %>

<%= image_tag @post.image.url(:medium) %>
<h1><%= @post.title %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>
<p>By: <%= @post.user.name %></p>
<p><%= @post.get_upvotes.size %>  <span class="glyphicon glyphicon-thumbs-up"></span> <%= link_to "Like this Posting", like_post_path(@post), method: :get %></p>
<p><%= @post.get_downvotes.size%> <span class="glyphicon glyphicon-thumbs-down"></span> <%= link_to "Dislike this Posting",dislike_post_path(@post), method: :get %> </p>






<% if @post.user == current_user  %>
	<p><%= link_to "Edit", edit_post_path(@post) %></p>
	<p><%= link_to "Delete", post_path(@post), method: 
											:delete, data: {confirm: "Are you sure?"} %></p>
<% end %>
	<p><%= link_to "home", root_path %></p>


<div id="comment">
	
	<h2 class="comment-count"><%= pluralize(@post.comments.count, "Comment") %></h2>
	<% @comments.each do |comment| %>
	<p class="comment-name"><%= comment.user.name %></p>
	<p><%= link_to comment.content, post_comment_path(@post, comment) %></p>
	<% end %>
	<%= render 'comments/form' %>

</div>

