<% content_for :title, "Space Show | New Post" %>


<h1><%= @post.title %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>

<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Delete", post_path(@post), method: 
										:delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "home", root_path %></p>